@if (showNavbar) {
<nav class="d-flex  header p-3 justify-content-between align-items-center container-fluid">
  <a href="">
    <h5 class="m-0 p-0"><span style="color: #a435f0;">Travel</span>Nest</h5>
  </a>
  <!-- Search bar -->
  <div class="search-container d-flex p-1 ps-3">
    <form action="" class="d-flex w-100 justify-content-between align-items-center" (submit)="onSearch()">
      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
      </button>
      <input type="text" [(ngModel)]="search" name="search" (input)="_search()"
        placeholder="u can search for a place or a city ...">
    </form>
    @if (search.length>=3&&(entreprises.length>0||villes.length>0)) {
    <div class="search-items d-flex flex-column py-3 ">
      @for (item of entreprises; track $index)
      {
      <div [routerLink]="['/place/'+item.id]" class="search-item d-flex justify-content-between align-items-center p-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
        <h5 class="m-0 ">{{item.name}}</h5>
      </div>
      }
      @for (item of villes; track $index)
      {
      <div [routerLink]="['/search/city/'+item.id]"
        class="search-item d-flex justify-content-between align-items-center p-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
        <h5 class="m-0 ">{{item.name}}</h5>
      </div>
      }

    </div>

    }
  </div>

  <div class="nav-items d-flex">
    <a href="/search/map" class="nav-item m-0 p-0 me-4">Map</a>
    <a href="" class="nav-item m-0 p-0 mx-4">News</a>
    @if ((authservice.$IsAdmin|async)) {
    <a href="/place/{{adminplaceid}}" class="nav-item m-0 p-0 ms-4">Just For You</a>
    }
  </div>
  <div class="Auth-container">
    @if (authservice.$isloggedin|async) {

    <a href="" class="px-3  register" (click)="logout()">Logout</a>
    }
    @else {
    <a href="/auth/login" class="px-4  login">Login</a>
    <a href="/auth/register" class="px-3  register">Register</a>
    }


  </div>
</nav>



<nav class=" small-device container-fluid  pt-1 pb-2 justify-content-between align-items-center">
  @if ( showsearch) {

  <div style="width: 100%;" class="search-container d-flex p-1 ps-3">
    <form action="" class="d-flex justify-content-between align-items-center w-100" (submit)="onSearch()">
      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
      </button>
      <input type="text" [(ngModel)]="search" name="search" (input)="_search()"
        placeholder="u can search for a place or a city ...">
    </form>
    @if (search.length>=3&&(entreprises.length>0||villes.length>0)) {
    <div class="search-items d-flex flex-column py-3 ">
      @for (item of entreprises; track $index)
      {
      <div [routerLink]="['/place/'+item.id]" class="search-item d-flex justify-content-between align-items-center p-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
        <h5 class="m-0 ">{{item.name | truncate:15}}</h5>
      </div>
      }
      @for (item of villes; track $index)
      {
      <div [routerLink]="['/search/city/'+item.id]"
        class="search-item d-flex justify-content-between align-items-center p-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
        <h5 class="m-0 ">{{item.name| truncate:15}}</h5>
      </div>
      }

    </div>

    }
    <button (click)="_showsearch()">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x"
        viewBox="0 0 16 16">
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
      </svg>
    </button>
  </div>
  }
  @if (!showsearch) {
  <button class="hamburger hamburger--arrow-r" type="button" (click)="showsidenav()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>

  </button>
  <a href="">
    <h5 class="m-0 p-0"><span style="color: #a435f0;">Travel</span>Nest</h5>
  </a>
  <button (click)="_showsearch()" class="bg-white border-0">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#555555" class="bi bi-search"
      viewBox="0 0 16 16">
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
    </svg>
  </button>
  }

</nav>



<div class="side-nav   bg-white flex-column" [ngClass]="{active: sidenave&&!showsearch}">
  <button class="fw-bold bg-white border-0 p-4" (click)="showsidenav()">
    <h5 class="m-0 p-0"><span style="color: #a435f0;">Travel</span>Nest</h5>
  </button>
  <div style="width: 100%;" class="py-3  side-nav-items flex-column d-flex ">
    <div class="px-3 py-3 links ">
      <h4 class="text-start m-0 p-0">map</h4>
    </div>
    <div class="px-3 py-3 links">
      <h4 class="text-start m-0 p-0">Just For You</h4>
    </div>
    <div class="px-3 py-3 links">
      <h4 class="text-start m-0 p-0">News</h4>
    </div>
  </div>
</div>
}
<router-outlet></router-outlet>
@if(showNavbar){
<!-- Footer -->
<footer id="dk-footer" class="dk-footer ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="dk-footer-box-info">
          <h4 class="text-white pb-3">Creator</h4>
          <a href="index.html" class="footer-logo">
            <img style="border-radius: 25px;" src="../assets/img/WhatsApp Image 2024-03-08 at 14.02.25.jpeg"
              alt="footer_logo" class="img-fluid">
          </a>
          <p class="footer-info-text">
            I`m a software engineer who loves to create something useful and beautiful for the community.
          </p>
          <div class="footer-social-link">
            <h3>Follow me</h3>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social link -->
        </div>
        <!-- End Footer info -->
        <div class="footer-awarad">
          <img src="images/icon/best.png" alt="">
          <p>Best Design Company 2019</p>
        </div>
      </div>
      <!-- End Col -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us">

              <!-- End contact Icon -->

              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="contact-us contact-us-last">

              <!-- End contact Icon -->

              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Contact Row -->
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>Useful Links</h3>
                <span class="animate-border border-black"></span>
              </div>
              <ul>
                <li>
                  <a href="https://www.github.com/oussamahdidou">About me</a>
                </li>

                <li>
                  <a href="https://github.com/oussamahdidou?tab=repositories">Projects</a>
                </li>



                <li>
                  <a href="#">Contact me</a>
                </li>


              </ul>
            </div>
            <!-- End Footer Widget -->
          </div>
          <!-- End col -->
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3 class="text-center">Subscribe</h3>
                <span class="animate-border border-black"></span>
              </div>
              <p><!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
              <div class="contact-us contact-us-last">
                <div class="contact-icon">
                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <h3>+212 6 51 75 54 23</h3>
                  <p>Give me a call</p>
                </div>
                <!-- End Contact Info -->
              </div>
              <div class="contact-us contact-us-last">
                <div class="contact-icon">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <h3>oussamahdidou15&commat;gmail.com</h3>
                  <p>E-mail :</p>
                </div>
                <!-- End Contact Info -->
              </div>
              <form action="#">
                <div class="form-row">
                  <div class="col dk-footer-form">

                  </div>
                </div>
              </form>
              <!-- End form -->
            </div>
            <!-- End footer widget -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Widget Row -->
  </div>
  <!-- End Contact Container -->


  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>Copyright © 2019, All Right Reserved Seobin</span>
        </div>
        <!-- End Col -->
        <div class="col-md-6">
          <div class="copyright-menu">
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
  <div id="back-to-top" class="back-to-top">
    <button class="btn btn-dark" title="Back to Top" style="display: block;">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
  <!-- End Back to top -->
</footer>
<!-- Footer -->}