<div class="slider-part justify-content-center align-items-center mt-3">
    <div class="container-fluid slide-container d-flex ">
        @for (item of images; track $index) {
        <div (click)="movetonext()" class="slider-item" [ngClass]="{'selected': selectedIndex===$index, 
        'next':selectedIndex===$index+1,'prev':selectedIndex===$index-1,
        'hideleft':selectedIndex>$index+1,'hideright':selectedIndex < $index+1} 
        ">
            <img [src]="item" alt="" class="slider-img">
            <div class="slider-caption p-5">
                <h3>Dubai Hotel</h3>
                <h6>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et labore veritatis soluta eum vel. Non,
                    alias, qui est autem architecto eos nostrum sapiente ratione quo soluta voluptatum maxime tempore
                    repellat ea at facere repudiandae eligendi molestias. Aliquid commodi facilis modi?
                </h6>
            </div>
        </div>

        }
    </div>
</div>
<div class="container d-flex justify-content-end align-items-center py-5">
    <select name="" id="" class="p-3">
        <option value="">by name</option>
        <option value="">by rating</option>
        <option value="">by comment</option>
        <option value="">by price</option>
    </select>
</div>
<div class="container-fluid d-flex flex-column align-items-center justify-content-between ">
    <div class="row item container-fluid py-2">
        <div class="col-lg-4">
            <img src="http://via.placeholder.com/640x360" alt="">
        </div>
        <div class="col-lg-8 pt-4">
            <h4>Hotel Name</h4>
            <h5 class="text-secondary">PlaceAdress</h5>
            <h6 class="text-secondary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reprehenderit deserunt earum libero
                dolores sequi numquam aut voluptates quis nihil ab iure rem dignissimos labore hic officia obcaecati
                voluptatum ullam vero nostrum adipisci exercitationem itaque. Asperiores dolor error magnam a?
            </h6>
            <div class="rating">
                <input value="5" name="rating" id="star5" type="radio">
                <label for="star5"></label>
                <input value="4" name="rating" id="star4" type="radio">
                <label for="star4"></label>
                <input value="3" name="rating" id="star3" type="radio">
                <label for="star3"></label>
                <input value="2" name="rating" id="star2" type="radio">
                <label for="star2"></label>
                <input value="1" name="rating" id="star1" type="radio">
                <label for="star1"></label>
            </div>
        </div>
    </div>
    <div class="row item container-fluid py-2">
        <div class="col-lg-4">
            <img src="http://via.placeholder.com/640x360" alt="">
        </div>
        <div class="col-lg-8 pt-4">
            <h4>Hotel Name</h4>
            <h5 class="text-secondary">PlaceAdress</h5>
            <h6 class="text-secondary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reprehenderit deserunt earum libero
                dolores sequi numquam aut voluptates quis nihil ab iure rem dignissimos labore hic officia obcaecati
                voluptatum ullam vero nostrum adipisci exercitationem itaque. Asperiores dolor error magnam a?
            </h6>
            <div class="rating">
                <input value="5" name="rating" id="star5" type="radio">
                <label for="star5"></label>
                <input value="4" name="rating" id="star4" type="radio">
                <label for="star4"></label>
                <input value="3" name="rating" id="star3" type="radio">
                <label for="star3"></label>
                <input value="2" name="rating" id="star2" type="radio">
                <label for="star2"></label>
                <input value="1" name="rating" id="star1" type="radio">
                <label for="star1"></label>
            </div>
        </div>
    </div>
    <div class="row item container-fluid py-2">
        <div class="col-lg-4">
            <img src="http://via.placeholder.com/640x360" alt="">
        </div>
        <div class="col-lg-8 pt-4">
            <h4>Hotel Name</h4>
            <h5 class="text-secondary">PlaceAdress</h5>
            <h6 class="text-secondary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reprehenderit deserunt earum libero
                dolores sequi numquam aut voluptates quis nihil ab iure rem dignissimos labore hic officia obcaecati
                voluptatum ullam vero nostrum adipisci exercitationem itaque. Asperiores dolor error magnam a?
            </h6>
            <div class="rating">
                <input value="5" name="rating" id="star5" type="radio">
                <label for="star5"></label>
                <input value="4" name="rating" id="star4" type="radio">
                <label for="star4"></label>
                <input value="3" name="rating" id="star3" type="radio">
                <label for="star3"></label>
                <input value="2" name="rating" id="star2" type="radio">
                <label for="star2"></label>
                <input value="1" name="rating" id="star1" type="radio">
                <label for="star1"></label>
            </div>
        </div>
    </div>
    <div class="row item container-fluid py-2">
        <div class="col-lg-4">
            <img src="http://via.placeholder.com/640x360" alt="">
        </div>
        <div class="col-lg-8 pt-4">
            <h4>Hotel Name</h4>
            <h5 class="text-secondary">PlaceAdress</h5>
            <h6 class="text-secondary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reprehenderit deserunt earum libero
                dolores sequi numquam aut voluptates quis nihil ab iure rem dignissimos labore hic officia obcaecati
                voluptatum ullam vero nostrum adipisci exercitationem itaque. Asperiores dolor error magnam a?
            </h6>
            <div class="rating">
                <input value="5" name="rating" id="star5" type="radio">
                <label for="star5"></label>
                <input value="4" name="rating" id="star4" type="radio">
                <label for="star4"></label>
                <input value="3" name="rating" id="star3" type="radio">
                <label for="star3"></label>
                <input value="2" name="rating" id="star2" type="radio">
                <label for="star2"></label>
                <input value="1" name="rating" id="star1" type="radio">
                <label for="star1"></label>
            </div>
        </div>
    </div>

</div>