@if (top.length>0) {
<div class="slider-part justify-content-center align-items-center mt-3 position-relative">
    <div class="leftright d-flex justify-content-between align-items-center px-3">
        <button class="border-0 bg-white" (click)="movetonext()">
            <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
            </svg>
        </button>
        <button class="border-0 bg-white" (click)="movetoback()">
            <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
            </svg>
        </button>
    </div>
    <div class="container-fluid slide-container d-flex ">

        @for (item of top; track $index) {
        <div [routerLink]="['/place/'+ item.id]" class="slider-item" [ngClass]="{'selected': selectedIndex===$index, 
            'next':selectedIndex===$index+1,'prev':selectedIndex===$index-1,
            'hideleft':selectedIndex>$index+1,'hideright':selectedIndex < $index+1} 
            ">
            <img [src]="item.image" alt="" class="slider-img">
            <div class="slider-caption p-5">
                <h3>{{item.name}}</h3>
                <h6>
                    {{item.bio| truncate:200 }}

                </h6>
            </div>
        </div>

        }
    </div>
</div>
}
<div class="container d-flex justify-content-between align-items-center py-5">
    <h2 class="fw-bold m-0">{{places.length}} results for “{{query}}”</h2>
    <select name="" id="" class="p-3">

        <option value="">by name</option>
        <option value="">by rating</option>
        <option value="">by comment</option>
        <option value="">by price</option>
    </select>
</div>
<div class="container-fluid d-flex flex-column align-items-center justify-content-between py-4">
    @if(places.length>0){
    @for (item of places; track $index) {
    @defer (on timer(3s)) {
    <div [routerLink]="['/place/'+item.id]" class="row item container-fluid py-2" style="cursor: pointer;">
        <div class="col-lg-4">
            <img style="height: 250px;" src="{{item.image}}" alt="">
        </div>
        <div class="col-lg-8 pt-4">
            <h4>{{item.name}}</h4>
            <h5 class="text-secondary">{{item.adress}}</h5>
            <h6 class="text-secondary">
                {{item.bio| truncate:200 }}

            </h6>
            <div class="d-flex align-items-center">
                <p class="fw-bold m-0 me-2">{{calculateAverageRate(item)}}/5</p>
                <div class="rating">
                    <input value="5" name="rating" id="star5" type="radio">
                    <label [style.color]="calculateAverageRate(item)>=5? '#6f00ff' : '#acacac'" for="star5"></label>
                    <input value="4" name="rating" id="star4" type="radio">
                    <label [style.color]="calculateAverageRate(item)>=4? '#6f00ff' : '#acacac'" for="star4"></label>
                    <input value="3" name="rating" id="star3" type="radio">
                    <label [style.color]="calculateAverageRate(item)>=3? '#6f00ff' : '#acacac'" for="star3"></label>
                    <input value="2" name="rating" id="star2" type="radio">
                    <label [style.color]="calculateAverageRate(item)>=2? '#6f00ff' : '#acacac'" for="star2"></label>
                    <input value="1" name="rating" id="star1" type="radio">
                    <label [style.color]="calculateAverageRate(item)>=1? '#6f00ff' : '#acacac'" for="star1"></label>
                </div>
            </div>

        </div>
    </div>}
    @placeholder {
    <div class="col-12 col-sm-6" style="width: 100%; ">

        <div class="ph-item">

            <div class="ph-col-4">
                <div style="height: 250px;" class="ph-picture"></div>

            </div>
            <div>
                <div class="ph-row">
                    <div class="ph-col-12"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8 big"></div>
                    <div class="ph-col-4 big empty"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8 big"></div>
                    <div class="ph-col-4 big empty"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8 big"></div>
                    <div class="ph-col-4 big empty"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8 big"></div>
                    <div class="ph-col-4 big empty"></div>
                </div>
            </div>
        </div>

    </div>
    }
    }
    }
    @else {
    <div class="notfound py-5 mb-5">
        <h5 class="text-center text-secondary py-5 mb-5"> No Places Found</h5>

    </div>
    }
</div>