<nav class="d-flex  header p-3 justify-content-between align-items-center container-fluid">
    <a href="">
        <h5 class="m-0 p-0"><span style="color: #a435f0;">Travel</span>Nest</h5>
    </a>
    <!-- Search bar -->
    <div class="search-container d-flex p-1 ps-3">
        <form action="" class="d-flex w-100 justify-content-between align-items-center" (submit)="onSearch()">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
            <input type="text" [(ngModel)]="search" name="search" (input)="_search()"
                placeholder="u can search for a place or a city ...">
        </form>
        @if (search.length>=3&&(entreprises.length>0||villes.length>0)) {
        <div class="search-items d-flex flex-column py-3 ">
            @for (item of entreprises; track $index)
            {
            <div [routerLink]="['/place/'+item.id]"
                class="search-item d-flex justify-content-between align-items-center p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
                <h5 class="m-0 ">{{item.name | truncate :33}}</h5>
            </div>
            }
            @for (item of villes; track $index)
            {
            <div [routerLink]="['/search/city/'+item.id]"
                class="search-item d-flex justify-content-between align-items-center p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
                <h5 class="m-0 ">{{item.name}}</h5>
            </div>
            }

        </div>

        }
    </div>

    <div class="nav-items d-flex">
        <a href="/search/map" class="nav-item m-0 p-0 me-4">Map</a>
        <a href="/news" class="nav-item m-0 p-0 mx-4">News</a>
        @if ((authservice.$IsAdmin|async)) {
        <a href="/place/{{adminplaceid}}" class="nav-item m-0 p-0 ms-4">Just For You</a>
        }
    </div>
    <div class="Auth-container">
        @if (authservice.$isloggedin|async) {

        <a href="" class="px-3  register" (click)="logout()">Logout</a>
        }
        @else {
        <a href="/auth/login" class="px-4  login">Login</a>
        <a href="/auth/register" class="px-3  register">Register</a>
        }


    </div>
</nav>



<nav class=" small-device container-fluid  py-1 pb-2 justify-content-between align-items-center">
    @if ( showsearch) {

    <div style="width: 100%;" class="search-container d-flex p-1 my-1 ps-3">
        <form action="" class="d-flex justify-content-between align-items-center w-100" (submit)="onSearch()">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
            <input type="text" [(ngModel)]="search" name="search" (input)="_search()"
                placeholder="u can search for a place or a city ...">
        </form>
        @if (search.length>=3&&(entreprises.length>0||villes.length>0)) {
        <div class="search-items d-flex flex-column py-3 ">
            @for (item of entreprises; track $index)
            {
            <div [routerLink]="['/place/'+item.id]"
                class="search-item d-flex justify-content-between align-items-center p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
                <h5 class="m-0 ">{{item.name | truncate:15}}</h5>
            </div>
            }
            @for (item of villes; track $index)
            {
            <div [routerLink]="['/search/city/'+item.id]"
                class="search-item d-flex justify-content-between align-items-center p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
                <h5 class="m-0 ">{{item.name| truncate:15}}</h5>
            </div>
            }

        </div>

        }
        <button (click)="_showsearch()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </button>
    </div>
    }
    @if (!showsearch) {
    <button class="hamburger hamburger--arrow-r" type="button" (click)="showsidenav()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>

    </button>
    <a href="">
        <h5 class="m-0 p-0"><span style="color: #a435f0;">Travel</span>Nest</h5>
    </a>
    <button (click)="_showsearch()" class="bg-white border-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#555555" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
    </button>
    }

</nav>

<div class="side-nav-container  h-100 w-100 " [ngClass]="{active: sidenave}">
    <div class="side-nav   bg-white flex-column" [ngClass]="{active: sidenave}">
        <button class="fw-bold bg-white border-0 p-4" (click)="showsidenav()">
            <h5 class="m-0 p-0 fw-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </h5>
        </button>
        <div style="width: 100%;" class="py-3 mb-5 side-nav-items flex-column d-flex ">
            <div class="px-3 py-3 links  ">
                <h4 [routerLink]="['/search/map']" class="text-start m-0 p-0">map</h4>
            </div>
            @if ((authservice.$IsAdmin|async)) {
            <div class="px-3 py-3 links ">
                <h4 [routerLink]="['/place/{{adminplaceid}}']" class="text-start m-0 p-0">Just For You</h4>
            </div>}
            <div class="px-3 py-3 links ">
                <h4 [routerLink]="['/news']" class="text-start m-0 p-0">News</h4>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            @if (authservice.$isloggedin|async) {

            <a href="" class="px-3 mt-5 register" (click)="logout()">Logout</a>
            }
            @else {
            <a href="/auth/login" class="px-4 mt-5 login">Login</a>
            <a href="/auth/register" class="px-3 mt-5 register">Register</a>
            }
        </div>
    </div>
    <!-- ========== <div class="side-nav-container  h-100 w-100 " [ngClass]="{active: sidenave}">
    </div> ========== -->

    <!-- ========== End Section ========== -->
</div>