<div class="container h-100 d-flex align-items-center py-5">
    <div class="row  container m-auto h-100 options p-0">
        <div class="col-6 h-100 py-5 register-options  d-flex justify-content-center align-items-center" id="user">
            <a href="/auth/user" class=" p-3 fw-bold">Register as a Tourist</a>
        </div>
        <div class="col-6 h-100 py-5 register-options d-flex justify-content-center align-items-center">
            <a href="/auth/admin" class="p-3 fw-bold ">Register as an entrepreneur</a>
        </div>
    </div>
</div>