.register-options {
  position: relative;
  background-image: url("../../../assets/img/téléchargement.jpg");
}
#user {
  background-image: url("../../../assets/img/HD-wallpaper-man-traveler-tourist-travel-road.jpg");
}
a {
  color: white;
  background: #000;
  text-decoration: none;
}
.options {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
